Playground/Part 6 - Functions final.playground/playground.xcworkspace/contents.xcworkspacedata
Playground/Part 8 - Enumerations.playground/playground.xcworkspace/contents.xcworkspacedata
Playground/Part 8 - Enumerations.playground/playground.xcworkspace/contents.xcworkspacedata
Playground/Part 9 - Functions and Types.playground/playground.xcworkspace/xcuserdata/EmanuelItsector.xcuserdatad/UserInterfaceState.xcuserstate
Playground/Part 10 - Protocols.playground/playground.xcworkspace/xcuserdata/EmanuelItsector.xcuserdatad/UserInterfaceState.xcuserstate
